{% extends "layout.html" %}
{% block content %}
<h1 class="cover-heading text-center">Trade History</h1>
<div class="pt-3">
    <table id="balance-table" class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Exchange</th>
                <th scope="col">Type</th>
                <th scope="col">Buy Amount</th>
                <th scope="col">Buy Coin</th>
                <th scope="col">Sell Amount</th>
                <th scope="col">Sell Coin</th>
                <th scope="col">Fee Amount</th>
                <th scope="col">Fee Coin</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for row in ops %}
                <tr>
                    <td scope="col">{{ row.date.strftime('%Y-%m-%d') }}</td>
                    <td scope="col">{{ row.exchange }}</td>
                    <td scope="col">{{ row.type }}</td>
                    <td scope="col">{{ row.buy_amount }}</td>
                    <td scope="col">{{ row.buy_coin }}</td>
                    <td scope="col">{{ row.sell_amount }}</td>
                    <td scope="col">{{ row.sell_coin }}</td>
                    <td scope="col">{{ row.fee_amount }}</td>
                    <td scope="col">{{ row.fee_coin }}</td>
                    <td scope="col">{{ row.comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
