td.table-left-border {
    border-left: 1px solid #c5cae9;
}

.btn-group-lg .btn, .btn-group-sm .btn {
    border-radius: 25px;
}

.hidden-col, .hidden-row {
    display: none !important;
}

.btn-group .btn-normal {
    background: #9fa8da;
}

.btn-group .btn-active {
    background: #1a237e;
}

#evol-table-xs_wrapper, #evol-table-sm_wrapper, #evol-table-md_wrapper, #evol-table-lg_wrapper {
    padding-left: 0rem;
    padding-right: 0rem;
}